@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sedan+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-inter{
    font-family: "Inter", sans-serif;
}

.font-sedan{
    font-family: "Sedan SC", serif;
}

#nav a.active{

  border-bottom: 2px solid #d62828;
}

.news-bg{
  background-image: url('./assets/news.jfif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.form-bg{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/bg-form.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-banner{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/bg-banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  
}